    <!DOCTYPE html>
    <html>

    <head>
      </head>
      <body bgcolor="black">
      <form action="/ques" method="POST">
          <h1 style="color:cornsilk">ENTER A QUESTION</h1>
          <input type="text" name="tag">
          <textarea style="width:500px; height: 300px;" name="textarea">enter question. . . .</textarea>
        <button type="submit">SUBMIT</button>
      </form>
      
      </ul>

    </body>
    </html>