    <html>
        <head>
            <style>
                body{
                    background-color:lightgray
                    }
            </style>
        </head>
        <body >
            <h1>SIGN UP </h1>
            <div>
            <form action="/sign" method="POST">


                <h3>Enter email</h3>
                <input type="email" name="email">

                <h3>Enter username</h3>
            <input type="text" name="signuser">

            <h3>Enter password</h3>
            <input type="password" name="passuser">

            <h3>Enter interests</h3>
            <input type="text" name="interest">
            upload
            <input type="file" name="profilepic">
            <br><br>
            <button type="submit">click me</button>
            </form>
    </div>
        </body>
    </html>